/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{text-decoration:none;}
img {border: 0;}
ol,ul {list-style: none; margin:0;padding:0;}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

	/* Section 梨�吏명�� 梨����깆��띠�梨�吏�占� 梨��깊��梨��곗㎝
	* --------------------------------------- */
	.section{
		text-align:center;
	}
	
	/* 梨����깆��띠�梨�吏�占� 梨��띠�梨��㏉�� 梨�吏쇳��梨��≪� 梨��≪�梨���占쎌��띠�
	* --------------------------------------- */
	
	#menu li {
	display:block;
	margin: 25px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 50%;
            border-radius: 50%;
	}
	#menu li.active{
		background:#666;
		background: rgba(0,0,0, 0.5);
		color: #fff;
		
	}
	#menu li.active > a >  .page_name{
		color:red;
	}
	#menu li a{
		text-decoration:none;
		color: #000;
	}
	#menu li.active a:hover{
		color: #000;
	}
	#menu li:hover{
		background: rgba(255,255,255, 0.8);
	}
	#menu li a,
	#menu li.active a{
    display: block;
    width: 17px;
    height: 17px;
	}
	#menu li a > .page_name {
		width: max-content;
	    position: absolute;
	    right: 52px;
	    font-size: 14px;
	    line-height: 16px;
	}
	#menu li.active a{
		color: #fff;
	}
	#menu{
		position:fixed;
		top:36%;
		right:25px;
		height: 3%;
		z-index: 9999;
		padding: 0;
	}
	
	
	#login_menu{
    position: fixed;
    top: 45%;
    left: 25px;
    z-index: 999;
    padding: 0;
}
#login_menu li {
	display:block;
	margin: 25px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 50%;
     border-radius: 50%;
}
#login_menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#login_menu li.active > a >  .page_name{
	color:red;
}
#login_menu li a{
	text-decoration:none;
	color: #000;
}
#login_menu li.active a:hover{
	color: #000;
}
#login_menu li:hover{
	background: rgba(255,255,255, 0.9);
}
#login_menu li a,
#login_menu li.active a{
   display: block;
   width: 17px;
   height: 17px;
}
#login_menu li a > .page_name {
	width: max-content;
    position: absolute;
    left: 50px;
    font-size: 14px;
    line-height: 16px;
    color:#959595;
}
#login_menu li.active a{
	color: #fff;
}

/* @media only screen and (max-width: 1500px) { */
/*   #menu { */
/*     right: unset; */
/*     left: 13px; */
/*     top: 28%; */
/*   } */
/*   #login_menu{ */
/*   	top: 60%; */
/*     left: 13px; */
/*   } */
/*   #menu li a > .page_name { */
/*    	right: unset; */
/*     left: 50px; */
/*   } */
/*   #main{ */
/*   	float:right; */
/*   } */
/* } */