body{
	background:#efdccb;
}
html, body, #wrap, #container, #main {
	height:100%;
}
#content{
	background:#fff;
	width:1600px;
	height:85%;
	box-shadow: 0 0 100px #d4b08e;
	top:7.5%;
}
.detail_wrap{
	position:absolute;
 	display: table;
    width: 100%;
    top: 11%;
}
.car_image{
	width:55%;
	float:left;
}
.cardetail_info{
	width: 35%;
    right: 90px;
    float: right;
    height: 638px;
}
.car_class, .car_model {
	font-size:25px;
	font-weight: 700;
}
.car_class {
	margin:0 10px 0 5px;
}
.option_area{
	width:100%;
	display: inline-block;
}
.option{
    width: 33.1%;
    height:90px;
    padding: 5% 0;
    text-align: center;
    float: left;
    color: #6d6d6d;
    display: inline-grid;
}
.option:nth-child(3n-1){	
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.option:nth-child(4),
.option:nth-child(5),
.option:nth-child(6){
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.option > span{
    display: block;
    font-weight: 500;
    color: #000;
    width: 85px;
    margin: 0 auto;
}
.dealer_info > div {
	display : inline-block;
	text-align:center;
}
.dealer_info > .info_box{
	font-size:15px;
	font-weight:400;
	background:#2c3a58;
	color:#fff;
	padding: 3px 10px;
	margin-left: 8px;
}
	.name {
		width:96px;
	}
	.phone {
		width:182px;
	}
	.email{
		width:186px;
	}
.dealer_info > span{
    width: 1px;
    height: 13px;
    background: #bbb;
    content: '';
    display: inline-block;
}
.detail_price{
	font-size: 27px;
    font-weight: 700;
    text-align: right;
    padding: 6px 0;
}
hr{
	border:0.5px solid #ccc;
}